<%= show_errors_for(appointment) %>

<%= form_for appointment do |f| %>

<p>
    <% if appointment.pet_id %>
    <%= f.label :pet_id, "Pet" %>
    <% f.hidden_field :pet_id %>
    <% appointment.pet.name %>
    <% else %>
    <%= f.collection_select :pet_id, current_user.pets, :id, :name %>
    <% end %>
    
</p>

<p>
    <% if appointment.veterinarian_id %>
    <%= f.label :veterinarian_id, "Veterinarian" %>
    <%= f.hidden_field :veterinarian_id %>
    <%= appointment.veterinarian.name %>
    <% else %>
    <% f.label :veterinarian_id, "Veterinarian" %>
    <%= f.collection_select :veterinarian_id, Veterinarian.all, :id, :name %>
    <% end %>
    
</p>

<p>
    <%= f.label :location %>
    <%= f.text_field :location %>
</p>

<p>
    <%= f.label :start_time %>
    <%= f.datetime_field :start_time %>
</p>

<p>
    <%= f.label :end_time %>
    <%= f.datetime_field :end_time %>
</p>

<%= f.submit %>
<% end %>
